.fa {
  padding: 0 5px 0 0;
}

.app__featured {
  width: 100%;
}

.banner {
  position: relative;
  height: 448px;
  color: white;
  object-fit: contain;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}

.banner__button {
  display: flex;
  font-size: 0.9rem;
  cursor: pointer;
  color: #00ff8d;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 50px;
  padding: 0.8rem 2.5rem;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner__button:hover {
  color: #111;
  background-color: #00ff8d;
  transition: all 0.2s;
}